

#dialogConfirmBtn{
    font-size:large;
}

.icon-condition{
   display: grid;
}
.temp-degree{
    font-size: 2rem;

}
.current-temp-card{
 display: flex;
 align-items: center;
    gap: 20px;
}

.current-location-card{
    display: flex;
    justify-content: center;
}
.day-forecast-card{
    display: flex;
    justify-content: space-between;
}
.day-forecast-list-card {
    display: none;

}
.day-forecast-card-active{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 10px;

}